<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/chat.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>聊天界面</title>
</head>
<body>
  <header>
    <a href="/index">
    <img id="left" src="../img/al.png">
    </a>
    <p id="left2" class="name">西施</p>
    <img  id="right" src="../img/更多.png">
  </header>
  <div class="container">
    <div class="message mess">
      <img class="avatar" src="../img/avatar1.jpg">
      <p class="content">国庆快乐！</p>
    </div>
    <p class="time">13:55</p>
    <div class="message2 mess">
      <img class="avatar2" src="../img/avatar2.jpg">
      <p class="content">国庆快乐!</p>
    </div>
    <p class="time">12:42</p>
  </div>
  <footer>
    <img class="ft" src="../img/语音.png">
    <input type="text" name="say" id="put">
    <img class="ft" src="../img/表情.png">
    <img class="ft" src="../img/more.png">
  </footer>
<script type="text/javascript" src="../js/chat.js">
</script>
</body>
</html>