html{
  height: 100%;
  width: 100%;
}

body{
  position: relative;
  background: #E5E7E9;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header{
  background-color: #E5E7E9;
  padding: 1% 1%;
  border-bottom: 0.5px solid #D5DBDB;
}

header:after{
  content: '';
  clear: both;
  display: block;
}

#left{
  float: left;
  width: 30px;
}

#left2{
  vertical-align: middle;
  float: left;
  margin-top: 3px; 
  margin-left: 5px;
  height: 30px;
  font-weight: bold;
}

#right{
  float: right;
  width: 40px;
  height: 30px;
}

.name{
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.container{
  height: 86%;
  background-color: #E5E7E9;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

.time{
  font-size: 0.7em;
  color: #B2BABB;
  text-align: center;
}

div.message,.message2{
  margin: 2% 1%;
  display: flex;
}

div.message2{
  margin-right: 0;
  justify-content: flex-end;
}

.avatar, .avatar2{
  width: 10%;
  margin-right: 4%;
  padding: 1% 1%;
  border-radius: 10px;
}

.avatar2{
  order: 1;
  margin-right: 2%;

}

.content{
  background-color: #FDFEFE;
  font-size: 0.9em;
  margin: 1% 2% 1% 0;
  padding: 2.0% 2% 0 1%;
  border-radius: 10px;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #D6DBDF;
  justify-content: space-between;
  align-items: center;
}

.ft{
  margin: 3% 2% 2% 2%;
  width: 7%;
}

footer>input{
  margin: 3% 4% 2% 4%;
  flex-grow: 1; 
  border: none;
  background-color: #E5E7E9;
  height: 24px;
}