html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background: #E5E7E9;
}

header{
  background-color: #E5E7E9;
  border-bottom: 0.5px solid #D5DBDB;
}

.wrapper{
  display: flex;
  margin: 0% 0%;
  align-items: center;
}

.hp{
  width: 10%;

}

header>div>p{
  font-weight: bold;
  margin: 0;
  font-size: 0.9em;

}

.search{
  margin-left: 45%;
 
}

.list{
  margin-left: 8%;
}

#header{
  color: #B2BABB;
  font-size: 0.8em;
  margin-left: 2%;
}

.container{
  display: flex;
  flex-direction: column;
}

.section,.name{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.d{
  background-color: white;
  width: 12%;
  height: 100%;
  border-radius: 50%;
}

.na{
  text-align: center;
  margin: 1% 0;
  color: #B2BABB;
  width: 13%;
  font-size: 0.7em;
}

.section2{
  display: flex;
  flex-direction: column;
  margin: 2%;
  background-color: white;
  border-radius: 3%;
}

.message1{
  display: flex;
  justify-content: space-between;
}

.front{
  margin: 2%;
  width: 9%;
  border-radius: 50%;
}

.call{
  font-size: 0.9em;
  font-weight: bold;

}

.time{
  font-size: 0.8em;
  margin-left: 50%;
  margin-right: 3%;
  color: #B2BABB;
}

.message2{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #F2F3F4;
}

.intro{
  font-family: sans-serif;
  font-size: 1em;
  text-align: left;
  height: 100%;
  margin: auto 2%;
}

.behind{
  width: 15%;
  margin: 2%;
}

.message3,.message4{
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.message4{
  justify-content: flex-end;
}

.more{
  font-size: 0.5em;
  color: #3498DB;
  margin: auto 0;
}

.underarrow{
  margin: 1%;
 width: 5%;
}

.section3{
  height: 15%;

}

.separate{
  text-align: center;
  font-size: 0.8em;
  color: #B2BABB;
}

.friend{
  font-size: 0.7em;
  text-align: right;
  color: #B2BABB;
}