body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #F8F9F9;
}

html{
  height: 100%;
  width: 100%;
}

a:link {text-decoration:none;color: black;}
a:visited {text-decoration:none; color: black;}
a:hover {text-decoration:none; color: #EAEDED;}
a:active {text-decoration:none; color: black;}


#header{
  display: flex;
  justify-content: space-between;
  background-color: #E5E7E9;
  padding: 4vw;
}

#name{
  font-size: 3.5vw;
  font-weight: bold;
  margin: auto 0;
}

#se{
  width: 5vw;
  margin-left: 57vw;
}

#mo{
  width: 5vw;
}


#container{
  clear: left;
  display: table;
  background-color: #F8F9F9;
  flex: 1 0 auto;
}

.tablerow{
  display: table-row;
}

.cell1{
  display: table-cell;
  width: 17%;
  vertical-align: middle;
  text-align: center;
}

.cell1>img{
  width: 50%;
  border-radius: 5px;
}

.cell2{
  display: table-cell;
  vertical-align: top;
  border-bottom: 0.1px solid #E5E7E9;
}

.who{
  display: inline;
  width: 30%;
  font-size: 90%;
  margin: 0;
  padding: 0%;
}

.time{
  float: right;
  margin: 1% 4vw 0 0;
  padding: 0;
  font-size: 60%;
  color: #ABB2B9;
}

.message{
  color: #ABB2B9;
  font-size: 70%;
  margin: 3.2% 0;
}

.ftable{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #F4F6F7;
  height: 7vh;
  display: table;
  vertical-align: middle;
}

.ftablerow{
  width: 100%;
  height: 100%;
  display: table-row;
}

.ftablecell{
  width: 25%;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.ftablecell>img{
  width: 40%;
}